<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Anexos</h3>
    </div>
    <div class="panel-body">
        <fieldset>
            <legend>Itens</legend>

            <div class="row attachment-row">
                <div class="col-md-2">
                    <button type="button" class="btn btn-danger" title="Excluir">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                    <button type="button" class="btn btn-info" title="Visualizar">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </button>
                </div>
                <div class="col-md-10">
                    <span class="doc-name">Documento anexo 1</span>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="panel-footer">
        <button type="button" class="btn btn-success btn-lg btn-block">
            Incluir Anexo
        </button>
    </div>
</div>