<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Dados do Fornecedor</h3>
    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="razaoSocial">Razão Social</label>
                    <input type="text" class="form-control" id="razaoSocial" name="razaoSocial" required>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="cnpj">CNPJ</label>
                    <input type="text" class="form-control" id="cnpj" name="cnpj" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="nomeFantasia">Nome Fantasia</label>
                    <input type="text" class="form-control" id="nomeFantasia" name="nomeFantasia" required>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="inscricaoEstadual">Inscrição Estadual</label>
                    <input type="text" class="form-control" id="inscricaoEstadual" name="inscricaoEstadual">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="cep">CEP</label>
                    <input type="text" class="form-control" id="cep" name="cep" required>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-4">
                <div class="form-group">
                    <label for="inscricaoMunicipal">Inscrição Municipal</label>
                    <input type="text" class="form-control" id="inscricaoMunicipal" name="inscricaoMunicipal">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="endereco">Endereço</label>
                    <input type="text" class="form-control" id="endereco" name="endereco" required>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="numero">Número</label>
                    <input type="text" class="form-control" id="numero" name="numero" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="complemento">Complemento</label>
                    <input type="text" class="form-control" id="complemento" name="complemento">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label for="bairro">Bairro</label>
                    <input type="text" class="form-control" id="bairro" name="bairro" required>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label for="municipio">Municipio</label>
                    <input type="text" class="form-control" id="municipio" name="municipio" required>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="estado">Estado</label>
                    <input type="text" class="form-control" id="estado" name="estado" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nomeContato">Nome da Pessoa de Contato</label>
                    <input type="text" class="form-control" id="nomeContato" name="nomeContato" required>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="telefone">Telefone</label>
                    <input type="text" class="form-control" id="telefone" name="telefone" required>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
            </div>
        </div>
    </div>
</div>